@model IEnumerable<Assignment3_V2.Models.MoviesActors>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="color: black;">Movie & Actor Connection</h1>

</div>
<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/631/634/original/green-grid-mosaic-background-creative-design-templates-vector.jpg');
    }
</style>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Actor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MoviesActorsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MoviesActorsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MoviesActorsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>